* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f2035;
  font-family: "Jost", sans-serif;
  color: white;
}

.border-white {
  border: 1px solid white;
  border-radius: 8px;
}

.introduction {
  margin: 13% 16%;
}
.introduction__list {
  white-space: nowrap;
  list-style-type: none;
  font-size: 1.06rem;
  font-weight: 400;
}
.introduction__item {
  display: inline;
  border: 1px solid #5f6589;
  border-radius: 500px;
  padding: 5px 10px;
}
.introduction__title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 6.25rem;
}
.introduction__container {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}
.introduction__info {
  width: 50%;
  font-weight: 400;
  list-style-type: none;
}
.introduction .item-info__title {
  font-size: 1.06rem;
  color: #5f6589;
}
.introduction .item-info__text {
  margin-top: 20px;
  font-size: 1.25rem;
  line-height: 26px;
}
.introduction .item-info:not(:last-child) {
  margin-bottom: 50px;
}

.top-gallery {
  position: relative;
  width: 100%;
}
.top-gallery__background {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  min-height: 900px;
  background-image: url("../img/backgrounds/1.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
.top-gallery__first-pair {
  position: relative;
  height: 1428px;
  width: 100%;
}
.top-gallery__first-pair #banner-one {
  position: absolute;
  right: 27.6%;
  width: 21.9%;
}
.top-gallery__first-pair #banner-two {
  position: absolute;
  left: 16%;
  width: 21.9%;
  margin-top: 356px;
}

@media (max-width: 1000px) {
  .introduction {
    margin: 13% 2.6%;
  }
  .introduction__title {
    font-size: 4.375em;
  }
  .top-gallery__first-pair {
    height: 1334px;
  }
  .top-gallery__first-pair #banner-one {
    right: 18.3%;
    width: 30.7%;
    margin-top: 242px;
  }
  .top-gallery__first-pair #banner-two {
    left: 18.3%;
    width: 30.7%;
    margin-top: 550px;
  }
}
@media (max-width: 768px) {
  .introduction__title {
    font-size: 3.75rem;
  }
  .introduction__info {
    width: 100%;
  }
  .top-gallery__background {
    background-repeat: repeat-y;
    background-size: auto 50%;
    background-position: top;
  }
  .top-gallery__first-pair {
    height: 1400px;
  }
  .top-gallery__first-pair #banner-one {
    right: 2.6%;
    width: 46%;
    margin-top: 142px;
  }
  .top-gallery__first-pair #banner-two {
    left: 2.6%;
    width: 46%;
    margin-top: 496px;
  }
}
@media (max-width: 480px) {
  .introduction__title {
    font-size: 3.5rem;
  }
  .top-gallery {
    height: 906px;
  }
  .top-gallery__background {
    display: none;
  }
  .top-gallery__first-pair #banner-one {
    margin-top: 0;
  }
  .top-gallery__first-pair #banner-two {
    margin-top: 354px;
  }
}
@media (max-width: 320px) {
  .introduction__title {
    font-size: 3.25rem;
  }
  .top-gallery {
    height: 1448px;
    padding-left: 2.6%;
    padding-right: 2.6%;
  }
  .top-gallery__first-pair #banner-one {
    position: static;
    width: 100%;
    margin-bottom: 96px;
  }
  .top-gallery__first-pair #banner-two {
    position: static;
    width: 100%;
    margin-top: 0;
  }
}